<div class="col-xs-12 col-sm-12 col-md-12 col-ls-12" ng-controller="CreditsController">
 <a name="credits"></a>
  <div class="border top"></div>
</div>
<div class="col-xs-12 col-sm-6 col-md-6 col-ls-6 credits">
  Built with (love and):
  <ul>
    <li><a href="http://www.getbootstrap.com" target="_blank">Bootstrap</a></li>
    <li><a href="http://api.jquery.com" target="_blank">jQuery</a></li>
    <li><a href="http://www.json.org/" target="_blank">JSON</a></li>
    <li><a href="http://shancarter.github.io/mr-data-converter/" target="_blank">Mr Data Converter</a></li>
    <li><a href="http://jsonlint.com/" target="_blank">JSONLint</a></li>
    <!-- TODO add AngularJS -->
  </ul>
</div>
<div class="col-xs-12 col-sm-6 col-md-6 col-ls-6 credits">
  Icons from:
  <ul>
    <li><a href="http://www.flaticon.com/authors/freepik" target="_blank">Freepik</a> on <a href="http://www.flaticon.com/" target="_blank">Flaticons</a></li>
    <li><a href="http://fortawesome.github.io/Font-Awesome/" target="_blank">Font Awesome</a></li>
    <li><a href="http://getbootstrap.com/components/#glyphicons" target="_blank">Glyphicons</a></li>
  </ul>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-ls-12">
 <a name="contact"></a>
  <div class="border top"></div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-ls-12">
  <ul id="contact">
    <li><a href="mailto:ccorbesier@gmail.com"><i class="fa fa-envelope"></i></a></li>
    <li><a href="http://www.webspirits.be" target="_blank"><i class="fa fa-globe"></i></a></li>
    <li><a href="http://www.twitter.com/catco_" target="_blank"><i class="fa fa-twitter"></i></a></li>
    <li><a href="https://www.github.com/catco" target="_blank"><i class="fa fa-github"></i></a></li>
    <li><a href="https://be.linkedin.com/in/catherinecorbesier" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
  </ul>
</div>