#content {
  margin-top: 60px; 
}
.container + .container .row {
  margin-top: 30px; 
}
.nom {
  display: block; 
}
.iconAccordion {
  float: right;
}
.border {
  border: 1px solid #141414; 
}
.border.top {
  border: 0;
  border-top: 1px solid #141414;
  margin-bottom: 20px;
}
.icons {
  height: 20px;
  margin-right: 3px;
  margin-top: -6px;
}
.itemIcons {
  display: inline-block;
}
.itemIcons {
  margin-left: 17px;
  margin-top: 8px;
}
.itemIcons:first-child {
  margin-left: 0;
}
